<button mat-raised-button class="mb-4 float-end" color="primary" (click)="addBank()">
    Add
    <mat-icon>add</mat-icon>
</button>
<div class="container mt-5">
    <div class="col">
        <div class="row container">

            <div class="col-4 fw-bold">Id</div>
            <div class="col-4 fw-bold">Bank name</div>
            <div class="col-4 fw-bold"></div>

        </div>
        <hr>

        <div *ngFor="let bank of banks" class="container">
            <div class="row">
                <div class="col-4 fw-bold bg-table-may">{{bank.id}}</div>
                <div class="col-4 bg-table-may">{{bank.name}}</div>
                <div class="col-4 bg-table-may">
                    <button mat-icon-button (click)="tableCollapse.toggle()"
                        [attr.aria-expanded]="!tableCollapse.collapsed" aria-controls="collapseTable">
                        <mat-icon>{{tableCollapse.collapsed ? "keyboard_arrow_down" : "keyboard_arrow_up"}}
                        </mat-icon>
                    </button>
                </div>
            </div>
            <div class="row" id="collapseTable" mdbCollapse #tableCollapse="mdbCollapse">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Description</th>
                            <th scope="col">Person</th>
                            <th scope="col">Coin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of bank.accounts">
                            <th scope="row">{{account.id}}</th>
                            <td>{{account.description}}</td>
                            <td>{{account.person.name}}</td>
                            <td>{{account.coin.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" *ngIf="bank.accounts?.length === 0">
                    <span class="d-flex justify-content-center">No accounts on this bank</span>
                </div>
            </div>
            
        </div>


    </div>


</div>