<div class="container">

    <div class="row">

        <div class="col-1">
            <mat-icon>add</mat-icon>
        </div>
        <div class="col-11">
            <h1 mat-dialog-title>
                Add account
            </h1>
        </div>

    </div>

    <div mat-dialog-content>

        <div class="row">
            <div class="col-4">
                <h2>New account</h2>
            </div>
            <div class="col-8">
                <form autocomplete="off" [formGroup]="formAccount">

                    <mat-form-field class="mat-field">
                        <mat-label>Desription</mat-label>
                        <input placeholder="Description" matInput type="text" formControlName="description">
                    </mat-form-field>
                    <span *ngIf="invalidForm('description')" class="form-text text-danger">
                        The account description it's necessary
                    </span>

                    <mat-form-field class="mat-field mt-2">
                        <mat-label>Person</mat-label>
                        <mat-select formControlName="person">
                            <mat-option value="" disabled="">-- select a person --</mat-option>
                            <mat-option *ngFor="let person of persons" [value]="person.id">
                                {{person.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mat-field">
                        <mat-label>Bank</mat-label>
                        <mat-select formControlName="bank">
                            <mat-option value="" disabled>-- select a bank --</mat-option>
                            <mat-option *ngFor="let bank of banks" [value]="bank.id">
                                {{bank.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mat-field">
                        <mat-label>Coin</mat-label>
                        <mat-select formControlName="coin">
                            <mat-option value="" disabled>-- select a coin --</mat-option>
                            <mat-option *ngFor="let coin of coins" [value]="coin.id">
                                {{coin.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </form>
            </div>
        </div>

    </div>

    <div mat-dialog-actions>


        <div class="container-buttons">
            <button mat-button (click)="closeDialog()" color="warn">
                Cancel
            </button>

            <button mat-button (click)="submitFormAccountAdd()">
                Add
            </button>

        </div>
    </div>

</div>